In [2]:
import pandas as pd
import numpy as np

In [7]:
# Write a function to pivot a Pandas DataFrame by customer ID and product category.
# Sample data
data = {
    'customer_id': [101, 102, 101, 103, 102, 101, 104],
    'product_category': ['Electronics', 'Clothing', 'Groceries', 'Clothing', 'Electronics', 'Clothing', 'Groceries'],
    'purchase_amount': [250, 80, 40, 100, 300, 90, 60]
}

df = pd.DataFrame(data)

# Display the DataFrame
df = df.pivot(index='customer_id', columns='product_category', values='purchase_amount')
df = df.reset_index()
df

product_category  customer_id  Clothing  Electronics  Groceries
0                         101      90.0        250.0       40.0
1                         102      80.0        300.0        NaN
2                         103     100.0          NaN        NaN
3                         104       NaN          NaN       60.0

In [8]:
# How to reverse the above
pd.melt(df, id_vars = 'customer_id', var_name='product_category', value_name='purchase_amount')

    customer_id product_category  purchase_amount
0           101         Clothing             90.0
1           102         Clothing             80.0
2           103         Clothing            100.0
3           104         Clothing              NaN
4           101      Electronics            250.0
5           102      Electronics            300.0
6           103      Electronics              NaN
7           104      Electronics              NaN
8           101        Groceries             40.0
9           102        Groceries              NaN
10          103        Groceries              NaN
11          104        Groceries             60.0

Write a SQL query to find the second highest purchase value per customer.
WITH customer_spend_rank AS
(SELECT
    customer,
    purchase_amount, 
    RANK() OVER (PARTITION BY customer ORDER BY purchase_amount DESC) AS rank
FROM
    customer_spend)
SELECT 
    customer,
    purchase_amount
FROM
    customer_spend_rank
WHERE 
    rank=2;

In [ ]:
# Write a Python function to calculate the moving average of a customerâ€™s transaction amounts.

In [ ]:
# Given a dataset with customer transactions, use Python to find the top 3 most frequent product combinations.

In [ ]:
# Write a PySpark job to aggregate daily sales into weekly buckets

In [ ]:
#Write a SQL query to calculate customer retention month over month.

In [ ]:
# Explain the difference between .map(), .apply(), and .transform() in Pandas.

In [ ]:
# Write a function to detect outliers in transaction amounts using IQR.

In [ ]:
# Write SQL to join a promotions table to a sales table using a date range condition.